.main-footer {
    color: white;
    background-color: Gray;
    position: relative;
    bottom: 0;
    width: 100%;
    padding-top: 4em;
}

.container{
    position: absolute;
    left: 49%;
    transform: translateX(-49%);
    top: 25%;
    transform: translateY(-25%);
}

svg{
    transform: scale(1.4);
    cursor: pointer;
    color: white;
    padding-right: 10px;;
}

.col{
    position: relative;
}

.clickable-footer{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.col-sm{
    text-align: center;
}

a:link {
    color: white;
    background-color: transparent;
    text-decoration: none;
}
  
a:visited {
    color: white;
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: gold;
    background-color: transparent;
    text-decoration: none;
}