.main-header{
    color: Gray;
    background-color: transparent;
    position: fixed;
    display: block;
    top: 0;
    width: 100%;
    padding-top: 2em;
    padding-bottom: 2em;
}

.header{
    color: Gray;
    background-color: black;
    display: block;
    top: 0;
    width: 100%;
    padding-top: 2em;
    padding-bottom: 2em;
}

.navigation:link {
    color: Black;
}
  
.navigation:visited {
    color: Black;
}


.logo{
    transform: scale(2);
    position: relative;
    left: 49%;
    z-index: -999;
}

.logo:hover {
    background-color: transparent;
    text-decoration: none;
    transform: scale(2.5);
    cursor: pointer;
}