.main-header{
    /*
    color: Gray;
    background-color: transparent;
    position: fixed;
    display: block;
    top: 0;
    width: 100%;
    padding-top: 2em;
    padding-bottom: 2em;*/

    padding: 50px 0;
    text-align: center;
    background: transparent;
}

.header{
    position: relative;
    color: Gray;
    background-color: black;
    display: block;
    top: 0;
    width: 100%;
    padding-top: 2em;
    padding-bottom: 2em;
}

.navigation:link {
    color: Black;
}
  
.navigation:visited {
    color: Black;
}

.svg{
    transform: translate(-50%);
}

.logo{
    position: absolute;
    left: 50%;
    transform: scale(2);
    color: black;
}

.logo:hover {
    background-color: transparent;
    text-decoration: none;
    cursor: pointer;
    opacity: 0.5;
    color: black;

}