.terms-and-conditions{
    margin-left: 10%;
    margin-right: 10%;
    padding-top: 5em;
    text-align: justify
}

.terms-and-conditions hr{
    margin-right: 96%;
}

.terms-and-conditions h1{
    font-size: 35px;
}

.terms-and-conditions h3{
    padding-bottom: 1em;
    font-size: 24px;
    font-weight: 50;
}

.terms-and-conditions p{
    font-size: 21px;
    font-weight: 200;
}