.App {
  text-align: center;
}

.full-page-container{
  /*height: 100vh;*/
  display: flex;
  flex-direction: column;
}


.page-container{
  background-color:#fffdd0;
  display: flex;
  position: relative;
  flex-direction: column;
}

.main-header{
  z-index: 999;
}